# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build
*.zip

# private data
/src/data

# misc
/.idea

# package-lock.json
package-lock.json